<h1>Who are your people?</h1>

<div class='row'> <!-- row 3 column layout-->

  <div class='col-sm-4'><!-- New Relative Form-->
    <%= render "shared/new_relative" %>
  </div><!--End New relative form-->

  <div class='col-sm-4'><!-- Relatives in this deck-->
    <h2>In this deck</h2>
    <ul class='no-bullets'>
      <% @decks_relative.each do |relative| %>
        <li class='small-card'><%= relative.firstname %> <%= relative.lastname %>
          <%= link_to "Remove from deck", update_relative_path( :subtract => relative.id), method: 'patch' %>
        </li>
      <% end %>
    </ul>
  </div><!-- End relatives in deck-->

  <div class='col-sm-4'><!-- All relatives-->
    <h2>All relatives</h2>
    <ul class='no-bullets'>
      <% @relatives.each do |relative| %>
        <li class='small-card'><%= relative.firstname %> <%= relative.lastname %>
          <%= link_to update_relative_path( :add => relative.id), method: 'patch' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div><!-- End all relatives-->
</div> <!-- end of 3 column layout-->
<%= link_to "Done", user_path(current_user), class: 'btn btn-default' %>
