<h1>Decks#edit</h1>
<p>Find me in app/views/decks/edit.html.erb</p>

<div class="row"> <!-- row 1: name deck-->
  <div class="col-md-12">
    <div class="deck-form">
      <%= form_for @deck do |f| %>

      <div class="form-field">
        <%= f.label :name, "Deck Name"%>
        <%= f.text_field :name, class: 'form-control'%>
        <%= render "shared/error_messages", obj: @deck, col: :name %>
      </div>

    </div>
  </div>
</div> <!-- end of row 1 -->

<div class="row"> <!--row 2: submit -->
  <div class="col-md-12"> <!--submit button for all form-->
    <div class="form-field">
      <%= f.submit @deck.new_record? ? "Make it" : "Update", class: "btn btn-default" %>
    </div>
    <% end %> <!--end of form for @deck-->
  </div>
</div> <!-- end of row 2: submit-->
