<!DOCTYPE html>
<html>
<head>
  <title>MeetTheFam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container-fluid">
    <header>
      HI THIS IS A HEADER
      <%= link_to "Logout", logout_path, method: :delete %>
    </header>
    <%= yield %>
  </div>
</body>
</html>
