<!DOCTYPE html>
<html>
<head>
  <title>MeetTheFam</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <ul>
        <li><span class="glyphicon glyphicon-user logo"></span>
          <span class="glyphicon glyphicon-plus logo"></span>
          <span class="glyphicon glyphicon-user logo"></span>
          <span class="glyphicon glyphicon-user logo"></span>
          <span class="glyphicon glyphicon-user logo"></span>
          <span class="glyphicon glyphicon-user logo"></span>
        </li><!--
      --><% if current_user %><!--
      --><li>
        <%= link_to user_path(current_user.id) do %>
          <span class="glyphicon glyphicon-home"></span> Dashboard
        <% end %>
        </li><!--
        --><li>
        <%= link_to logout_path, method: :delete do %>
          <span class="glyphicon glyphicon-log-out"></span> Logout
        <% end %>
        </li><!--
      --><% end %><!--
      --><% if flash[:notice] %><!--
      --><li><%= flash[:notice] %></li>
      <% end %>

      </ul>
    </header>
    <%= yield %>
  </div>
</body>
</html>
